body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(252, 172, 118, 0.681);
}
.box{
    width: 450px;
    background: #fc8e53c8;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: #fff;
    font-family: sans-serif;
}
.box img{
    border-radius: 50%;
    width: 200px;
    height: 300px;
    cursor: pointer;
    transition: 0.5s;
}
.box img:hover{
    transform: scale(0.9);
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h4{
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 3px;
}
.box p{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    list-style: none;
    margin: 6px;
}
.box li a{
    color: white;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box li a:hover{
    color: #ebc9b5;
}